* {
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(images/poke.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

header {
    margin-top: 50px;
    font-size: 2rem;
    text-align: center;
}



input {

    
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 65%;
    text-align: center;
    

}

main button {

    cursor: pointer;
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #000000;
    border-radius: 5px;
    background: rgb(15, 177, 15);
}

main {
    
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 8px;
    
}

.busca {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
   
}


#resultado {
    width: 70%;
    max-width: 400px;
    min-height: 200px;
    border-radius: 12px;
    text-align: center;
}

#resultado h2 {

    font-size: 2.5rem;

}

#resultado img {
    width: 200px;
}

@media (max-width: 440px) {

    input {
        width: 100vh;
        margin-bottom: 10px;
    }

    .busca {

        display: flex;
        text-align: center;
        

    }

}

#resultado p {
    font-size: 1.5rem;
    font-weight: 600;
}

